!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", name: "viewport"}
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/04ab65f300.js"}
    %link{:href => "https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css", :rel => "stylesheet"}/
    %title NewTodoApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    = javascript_pack_tag 'index'
  %body
    = render 'layouts/header'
    %p.notice= notice
    %p.alert= alert
    = yield
